# What is a data structure
   - A way of oganizing the data is called DS
   - We can store multiple values in a single variable

  Types os DS
   - list
   - tuple
   - dict
   - set

# List
  - It is used to store multile itemsin a single variable
  - List is mutable(i.e We can change the values)
  - It can allow the duplicates
  - List index starts with '0'
  - we can store any type of data
  - Repersented by [], values can be seperated by ,

In [1]:
#how to create empty list
li = []
print(li)
print(type(li))

[]
<class 'list'>

In [2]:
li1 = [2,3,4,6,12,67,89]
print(li1)
print(type(li1))

[2, 3, 4, 6, 12, 67, 89]
<class 'list'>

In [3]:
li2 = [2,3,4,6,12,"a","y"]
print(li2)
print(type(li2))

[2, 3, 4, 6, 12, 'a', 'y']
<class 'list'>

In [6]:
#slicing # cutting into pieces
li = [56,78,12,57,88,78,23,77]
print(li[0],li[1],li[2]) # forward index
print(li[-1],li[-2],li[-3])
print(li[0:3],li[3:])
print(li[0::2])
print(li[0::3])
print(li[::-1]) #reversed list

56 78 12
77 23 78
[56, 78, 12] [57, 88, 78, 23, 77]
[56, 12, 88, 23]
[56, 57, 23]
[77, 23, 78, 88, 57, 12, 78, 56]

In [ ]:
#built-in methods
# sum(),min(),max(),sorted(),len()

In [7]:
li = [56,78,12,57,88,78,23,77]
print(sum(li))
print(min(li))
print(max(li))
print(sorted(li))
print(len(li))

469
12
88
[12, 23, 56, 57, 77, 78, 78, 88]
8

In [8]:
# how to list methods in python
print(dir(list),end='')

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [13]:
# nested list
li2 = [78,4,6,[7,2,5,8,9],89,45,77]
print(li2)
print(li2[3])
print(li2[3][2])
print(li2[3][1])

[78, 4, 6, [7, 2, 5, 8, 9], 89, 45, 77]
[7, 2, 5, 8, 9]
5
2

In [16]:
#List methods
# append() - we will ad new value to the list
k = [67,23,68,90]
k.append(45) # Listname.methodname() - syntax
print(k)

[67, 23, 68, 90, 45]

In [17]:
#count()
#index()
k1 = [45,56,34,67,8,1,1,1,1,2,2,2,2,9]
k1.count(2)

4

In [21]:
#index()
k1.index(34)

2

In [20]:
k1.index(56)

1

In [22]:
k1.index(1)

5

In [23]:
#insert()
li = [67,33,23,55]
li.insert(1,89)
print(li)

[67, 89, 33, 23, 55]

In [24]:
# pop()
print(li)
li.pop()

[67, 89, 33, 23, 55]

55

In [25]:
print(li)

[67, 89, 33, 23]

In [26]:
# remove() -- particular value delete
li.remove(23)
print(li)

[67, 89, 33]

In [34]:
# copy()
list1 = [1,2,3,4]
list2 = list1.copy()
print(list1,list2)
list2.pop()
print(list1,list2)

[1, 2, 3, 4] [1, 2, 3, 4]
[1, 2, 3, 4] [1, 2, 3]

In [29]:
li2 = [3,4,5,1,6,7,8,9]
del li2[1:3]
print(li2)

[3, 1, 6, 7, 8, 9]

In [33]:
a = [3,4,5,6]
b = a
print(a,b)
a.pop()
print(a,b)

[3, 4, 5, 6] [3, 4, 5, 6]
[3, 4, 5] [3, 4, 5]

In [37]:
# extend()
a,b = [1,2,3],[4,5,6]
a.extend(b)
print(a)
b.extend(a)
print(b)
print(a,b)

[1, 2, 3, 4, 5, 6]
[4, 5, 6, 1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6] [4, 5, 6, 1, 2, 3, 4, 5, 6]

In [38]:
# clear()
a.clear()
print(a)

[]

In [40]:
li = [4,5,6,1,2,3,9]
for i in li:
    print(i,end=' ')

4 5 6 1 2 3 9

In [41]:
# List values sum
s =0
for i in li:
    s = s+i
print(s)

30

In [43]:
# List values product
f = 1
for i in li:
    f = f*i
print(f)

6480

In [44]:
# Print only odd numbers in list
for i in li:
    if(i%2!=0):
        print(i,end=' ')

5 1 3 9

In [45]:
# Print only even numbers in list
for i in li:
    if(i%2==0):
        print(i,end=' ')

4 6 2

In [47]:
n = int(input('How many items? '))
items = []
for i in range(n):
    item = input('Enter values: ')
    items.append(item)
print(items)

How many items?  4
Enter values:  2
Enter values:  3
Enter values:  4
Enter values:  5

['2', '3', '4', '5']

In [ ]:
items = input().spilt()
print(items)

In [ ]:
# remove duplicate values in list
# i/p: [12,34,12,67,89,23,34,34,34,78,22,65]
# o/p: [12,34,67,89,23,78,22,65]

In [7]:
list1 = [12,34,12,67,89,23,34,34,34,78,22,65]
list2 = list(set(list1))
print("New list: ",sorted(list2))

New list:  [12, 22, 23, 34, 65, 67, 78, 89]

In [1]:
items = input("Enter items seperated by space: ").split()
print(items)

Enter items seperated by space:  1 2 4

['1', '2', '4']

In [3]:
li = [12,34,12,67,89,23,34,34,34,78,22,65 
new = []
for i in li:
    if i not in new:
        new.append(i)
print(new)

[12, 34, 67, 89, 23, 78, 22, 65]